<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,442},{62,70}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{62,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,310},{76,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{76,68}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,366},{78,75}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{78,75}}</string>
                <key>sourceSize</key>
                <string>{136,99}</string>
            </dict>
            <key>archer_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{80,88}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,11},{80,88}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>archer_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{82,88}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,11},{82,88}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>archer_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,136},{78,89}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{78,89}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>archer_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,248},{84,87}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{84,87}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>archer_concentrate_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,244},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_concentrate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,160},{86,92}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{86,92}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_concentrate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_concentrate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,232},{88,76}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_concentrate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,216},{92,88}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{92,88}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_defend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{102,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{102,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_defend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{100,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{100,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_defend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,156},{96,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{96,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_defend_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{100,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{100,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,432},{46,72}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{46,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,430},{46,72}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{46,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_drop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,396},{66,72}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{66,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_drop_side_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,374},{72,66}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{72,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_drop_side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,506},{66,66}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{66,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_drop_side_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,536},{60,66}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{60,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{54,70}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{54,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,480},{54,70}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{54,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,516},{48,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,29},{48,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{48,72}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{48,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,58},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{62,76}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,58},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{62,76}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,306},{58,84}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,84}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,306},{58,84}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,84}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,58},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{62,76}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_joke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,58},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{62,76}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,478},{54,70}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{54,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_jump_side_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,489},{56,66}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{56,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_jump_side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{54,64}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{54,64}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_jump_side_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,489},{56,66}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{56,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_jump_side_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{54,64}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{54,64}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,534},{62,66}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{62,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,464},{50,68}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{50,68}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,382},{48,72}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,24},{48,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{58,66}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{58,66}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,172},{96,70}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{96,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,84},{100,70}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{100,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,90},{96,80}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{96,80}}</string>
                <key>sourceSize</key>
                <string>{136,102}</string>
            </dict>
            <key>archer_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{110,80}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{110,80}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>archer_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,83}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{112,83}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>archer_skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{102,86}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{102,86}}</string>
                <key>sourceSize</key>
                <string>{136,102}</string>
            </dict>
            <key>archer_skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,80}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{112,80}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>archer_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,380},{48,72}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{48,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,380},{48,72}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{48,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{44,72}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{44,72}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,334},{46,75}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{46,75}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>archer_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,328},{44,73}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{44,73}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>archer_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,320},{40,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{40,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,443},{44,70}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{44,70}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,244},{40,74}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{40,74}}</string>
                <key>sourceSize</key>
                <string>{136,96}</string>
            </dict>
            <key>archer_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,328},{44,73}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{44,73}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>archer_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,334},{46,75}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{46,75}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>archer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e747c4e5fddad67250e6212d912ce968$</string>
            <key>textureFileName</key>
            <string>archer.png</string>
        </dict>
    </dict>
</plist>
