<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,171},{76,67}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{76,67}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,433},{60,69}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{60,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{78,69}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{78,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{70,79}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,12},{70,79}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_concentrate_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,140},{82,83}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{82,83}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_concentrate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,83},{86,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{86,89}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_concentrate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{82,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{82,83}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_concentrate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,89},{88,75}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{88,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_concentrate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{92,85}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{92,85}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_defend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,306},{74,73}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{74,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_defend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,237},{74,73}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{74,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_defend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,310},{74,71}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{74,71}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_defend_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{74,73}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{74,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,381},{46,73}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{46,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{48,73}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{48,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_drop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,365},{50,69}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{50,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,294},{50,69}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{50,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_drop_side_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,152},{50,69}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{50,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_drop_side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,488},{48,69}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{48,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,225},{44,69}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{44,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,154},{44,69}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{44,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,312},{66,73}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{66,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,224},{72,75}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{72,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,240},{68,75}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,240},{68,75}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{66,73}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{66,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,380},{60,73}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{60,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{68,75}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{68,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,298},{66,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{66,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,366},{70,73}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{70,73}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_joke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,75},{50,75}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{50,75}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,83},{44,69}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{44,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_jump_side_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,171},{54,69}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{54,69}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>knight_jump_side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,223},{54,69}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{54,69}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>knight_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,438},{60,63}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{60,63}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,312},{62,63}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{62,63}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,376},{60,63}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{60,63}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,242},{62,63}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{62,63}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,65}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{136,65}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{126,79}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{126,79}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,71}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{136,71}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,69},{126,69}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{126,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,166},{84,69}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{84,69}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,429},{48,71}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,20},{48,71}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,383},{48,71}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,20},{48,71}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>knight_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{48,68}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{48,68}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>knight_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{48,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{48,68}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>knight_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,511},{48,68}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{48,68}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>knight_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,438},{48,69}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{48,69}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>knight_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,495},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{46,68}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>knight_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,479},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{46,68}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>knight_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,442},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{46,68}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b7aa0481f5807c6dfb2158a7a7975e$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
